@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
        margin: 0;
        box-sizing: border-box;
        font-family: "Open Sans";
}

.main-section {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.main-section .section-one, .main-section .section-three {
	height: 100%;
	width: 20%;
}

.main-section .section-two {
	height: 100%;
	width: 60%;
}
