header {
        display: flex;
        justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 100%;
}

header ul {
        list-style-type: none;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	font-size: 0.8em;
	color: #B9C3D4;
}

